solve.py
16s2/9021/assignment3/a3test/puzzle_0_6_6_my_output.txt
16s2/9021/assignment3/a3test/puzzle_100_6_6_my_output.txt
16s2/9021/assignment3/a3test/puzzle_10_6_6_my_output.txt
16s2/9021/assignment3/a3test/puzzle_141_10_10_my_output.txt
16s2/9021/assignment3/a3test/puzzle_161_10_10_my_output.txt
16s2/9021/assignment3/a3test/puzzle_163_10_10_my_output.txt
16s2/9021/assignment3/a3test/puzzle_170_10_10_my_output.txt
16s2/9021/assignment3/a3test/puzzle_20_6_4_my_output.txt
16s2/9021/assignment3/a3test/puzzle_30_6_6_my_output.txt
16s2/9021/assignment3/a3test/puzzle_40_6_3_my_output.txt
16s2/9021/assignment3/a3test/puzzle_50_6_6_my_output.txt
16s2/9021/assignment3/a3test/puzzle_60_6_2_my_output.txt
16s2/9021/assignment3/a3test/puzzle_70_6_6_my_output.txt
16s2/9021/assignment3/a3test/puzzle_80_6_6_my_output.txt
16s2/9021/assignment3/a3test/puzzle_90_6_6_my_output.txt
